--extra-index-url https://download.pytorch.org/whl/cpu
numpy==1.26.4
Pillow
torch==2.2.1
torchvision==0.17.1
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
faiss-cpu==1.7.4
supabase==2.4.5
streamlit>=1.34.0
